


#title{
    font-family: Helvetica,  sans-serif; 
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px; 
    font-weight: bold; 
    color: white;
}
 #frames {
    background-color: lightcoral;
}
#paint{
    background-color: skyblue;
}
a{
    font-family: Helvetica, Arial, sans-Serif;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}